@keyframes choice{10%{border:5px double white;opacity:0.3;zoom:150%;color:rgb(0,0,252);}50% {border:10px double white;opacity:0.5;zoom:300%;color:rgb(255,0,0);}80% {border:40px double white;opacity:1;zoom:400%;color:rgb(153,76,9,);}to {zoom:300%;color:rgb(0,252,0);}}
@keyframes menu{0% {opacity: 0;}100% {opacity:1;}}
@keyframes bsh{10%,35%,70% {box-shadow: 1 1 5px goldenrod, 9px 3px 9px #004200;}  20%,45%,80% {box-shadow: 0 0 3px #DAA520, 5px 2px 5px goldenrod;} 30%,55%,90%  {box-shadow: 0 0 3px #DAA520, 5px 2px 5px #004200;}}
@keyframes mOff{0% {opacity: 1;}50% {opacity: 0.7;}  90% {opacity: 0.3;} 100% {opacity:0;}}
@keyframes textanm{9%,45%,81%{color:rgba(0,0,252,1);text-shadow: 2px 7px 4px #CC0000;} 20%{color:rgba(0,0,252,1);}  18%,54%,90% {color:rgba(255,255,9,1);text-shadow: 4px 2px 7px #9999D6;} 55%{color:rgba(255,255,9,1);} 70%{color:rgba(252,252,252,1);} 27%,72%,99%{color:rgba(9,9,9,1);text-shadow: 2px 7px 4px #004200;}}
@keyframes boxanm{9%,45%{color:rgba(0,0,252,1);box-shadow: 2px 7px 4px #CC0000;} 20%{color:rgba(0,0,252,1);}  18%,54% {color:rgba(255,255,9,1);box-shadow: 4px 2px 7px #9999D6;} 55%{color:rgba(255,255,9,1);} 70%{color:rgba(252,252,252,1);} 27%,72%{color:rgba(9,9,9,1);box-shadow: 2px 7px 4px #004200;}}
#choix{position:relative;left:15%;}#pl{position:absolute;}
#dtc{position:absolute;left:15%;top:2%;}#yT{position:relative;left:-1%;}#page{position:absolute;left:18%;top:25%;color:black;opacity:0;z-index:4!important;}
.navbar-brand{animation: textanm 4s ease-in-out 1s infinite;}
.boxanm{animation: boxanm 4s ease-out 5s infinite;}
.nav {margin-top: -10px; }
.nav li{display: inline;text-decoration:none; padding-left: 2%;font-size:108%;}
.navbar-nav,.uslc,.nav li a:focus{color:#a40200;text-shadow: 0 0 3px #DAA520, 5px 2px 5px #004200;z-index:1;}
.visit{box-shadow: 0 0 3px #DAA520, 5px 2px 5px #a40200;border-top-right-radius:18em;border-bottom-left-radius:1em;}
.nav li a:focus{background-color:black;box-shadow: 0 0 3px #DAA520, 5px 2px 5px #004200;border-top-left-radius:18em;border-bottom-right-radius:1em;}
.onPlay{background-color:rgba(218,165,32, 0.4);box-shadow: 0 0 3px #DAA520, 5px 2px 5px #DAA520;border-top-right-radius:18em;border-bottom-left-radius:1em;}
.jqx-menu {background-color:rgba(21,255,0,0.2);font-weight:bold;text-shadow: 0 0 3px #DAA520, 5px 2px 5px #a40200;border-color:#a40200;border-style:dotted;box-shadow: 0 0 3px #DAA520, 5px 2px 5px #a40200;}
a:hover{background:none!important;animation: textanm 3s;}
#menu{background-color:rgba(0,252,0,0.7);box-shadow: 0 0 3px #c2c2a3, 5px 2px 5px #004200;border-top-left-radius:18em;border-top-right-radius:1em;animation: bsh 4s ease-in 9s infinite;}
.jqx-fill-state-hover{font-size:180%;color:black;}
.anm {animation: menu 1.5s ease-in;opacity:1;}
.anom {animation: mOff 1.5s ease-out;opacity:0;}
.liens {color:#ffffff;text-height: 2em;}
.jqx-listbox {background: none;color:goldenrod;} 
.jqx-listitem-state-selected{animation: textanm 2s ease-in-out 1s infinite;}
.jqx-scrollbar .jqx-scrollbar-state-normal{background:#a40200;}
.jqx-scrollbar-button-state-normal{background:#21FF00;}
.jqx-combobox-arrow-normal {background:goldenrod;}
.jqx-combobox-input{background:black;color:goldenrod;animation: textanm 2s ease-in-out 10s infinite;}
.jqx-fill-state-focus{background:rgba(204,0,0,0.2);text-shadow: 0 0 3px #21FF00}
#entrer.jqx-fill-state-focus,#lrtrn.jqx-fill-state-focus{background:none;text-shadow:none;z-index:-1;}
#entrer,#lrtrn{border-color:#a40200;border-style:dotted;background-image: url("baf.gif");}#lrtrn{animation: bsh 4s ease-in 9s infinite;box-shadow: 0 0 3px #c2c2a3, 5px 2px 5px #004200;}
.jqx-listitem-state-hover{font-size:180%;color:#a40200;text-shadow: 0 0 3px goldenrod, 5px 2px 5px #004200;}
.choice{animation: choice 4s ease-in-out 3;}
.bcgpop{background-color:rgba(21,255,0,0.2);}
#tabsrch{background-color:#000000;}