body {display: block;font-size:180%!important;height:1024px!important;}
#jqxTree {display:block!important;}
#player {width:800px!important;height:800px!important;} 
#jqxTree {left:800px!important;}  
.jqx-tree-item  {font-size:540%!important;} 
.jqx-widget {width:150%;} 