body {display: block;font-size:180%!important;height:1024px!important;}
#jqxTree{position:static;left:1024px!important;width:100%!important;top:0px!important;display:block!important;}
#player{position:static;} 
.jqx-tree-item  {font-size:250%!important;} 
.jqx-widget {width:150%;} 