html,body {height:100%!important;margin:0px!important;padding:0px!important;background-color:black;}
#jqxTree{float:right;top:1px;}
#player{position:absolute;z-index:0!important;top:0px;float:left;margin:0px;padding:0px;border-top-left-radius:3em;border-top-right-radius:3em;border-bottom-left-radius:3em;border-bottom-right-radius:3em;}
#mix_p{position:absolute;top:1px; } #mix_s {position:absolute;top:1px;left:16%; }#asyn{position:absolute;z-index:1!important;top:1px;left:31%;color:white;}#sw{position:absolute;z-index:1!important;top:1px;left:55%;}#mix_j {width:15%;position:absolute;z-index:1!important;top:1px;left:41%;}#mix{position:absolute;z-index:1!important;top:1px;left:61%;} 
#sto,mix_pl{width:100px;}
.jqx-widget-content {background:rgba(255,250,18,0.4)!important;}
.jqx-fill-state-hover {font-size:180%!important;}
.jqx-tree,.jqx-tree-item,.pagination,#iti,#btn,#clear {border-top-left-radius:2em!important;border-bottom-right-radius:1em!important;}
