@keyframes choice{10%{opacity:0.3;}20% {opacity:1;}80% {opacity:1;}to {opacity:0;}}
@keyframes menu{0% {display: none;opacity: 0;}1% {display: block;opacity: 0;}100% {display: block;opacity: 1;}}
@keyframes mOff{0% {display: block;opacity: 1;}50% {display: block;opacity: 0.5;}  90% {display: none;opacity: 0.1;} 100% {display: none;opacity: 0;}}
@keyframes textanm{9%,45%,81%{color:rgba(0,0,252,1);text-shadow: 2px 7px 4px #CC0000;} 20%{color:rgba(0,0,252,1);}  18%,54%,90% {color:rgba(255,255,9,1);text-shadow: 4px 2px 7px #9999D6;} 55%{color:rgba(153,76,9,1);} 70%{color:rgba(252,252,252,1);} 27%,72%,99%{color:rgba(9,9,9,1);text-shadow: 2px 7px 4px #00ffff;}}
@keyframes boxanm{9%,45%{color:rgba(0,0,252,1);box-shadow: 2px 7px 4px #CC0000;} 20%{color:rgba(0,0,252,1);}  18%,54%{color:rgba(255,255,9,1);box-shadow: 4px 2px 7px #9999D6;} 55%{color:rgba(153,76,9,1);} 27%{color:rgba(9,9,9,1);box-shadow: 2px 7px 4px #00ffff;}}
#choix{position:relative;left:15%;}#don{position:absolute;top:85%;}#pl{position:absolute;}
#dtc{position:absolute;left:15%;top:2%;}#yT{position:relative;}
.navbar-brand{animation: textanm 4s ease-in-out 1s infinite;}
.boxanm{animation: boxanm 2s ease-out;}
.navbar-nav,.uslc,.nav li a:focus{color:#a40200;text-shadow: 0 0 3px #c2c2a3, 5px 2px 5px #00ffff;}
.nav li a:focus{background-color:black!important;box-shadow: 0 0 3px #c2c2a3, 5px 2px 5px #00ffff;}
#lock{position:absolute;right:1px;background-image: url("http://youtube.runsense.re/css/lockop.png");}
.jqx-fill-state-hover{font-size:180%;color:black;}
.anm {display: block;animation: menu 1.5s ease-in;}
.anom {display: none;animation: mOff 1.5s ease-out;}
.liens {color:#ffffff;text-height: 2em;}
.jqx-listbox {background: none;color:#c2c2a3;} 
.jqx-listitem-state-selected{z-index:4!important;background: none;animation: textanm 2s ease-in-out 1s infinite;}
.jqx-scrollbar .jqx-scrollbar-state-normal {background: #993300;}
.jqx-scrollbar-button-state-normal{background:#00ffff;}
.jqx-combobox-arrow-normal {background: #c2c2a3;}
.jqx-combobox-input{background:black;color: blueviolet;animation: textanm 2s ease-in-out 10s infinite;}
a:hover{background:none!important;animation: textanm 3s;}
.jqx-listitem-state-hover{font-size:130%;color:#993300;text-shadow: 0 0 3px #c2c2a3, 5px 2px 5px #00ffff;}
